body {
    margin: 0;
    padding: 3;
}

.container {
background-color:darkseagreen;
    background-image: url(../img/more-leaves-on-green.png);
}

img {
    width: 40%;    
}

a {
    text-decoration:none;
}

ul{
    list-style-type: none;
}
li{
    display:inline-block;
    padding-right: 10%;
}
li2{
 font-size: 20px;
color: saddlebrown;
    
}

h3{
    font-size: 60px;
    color: lightgoldenrodyellow;
    padding: 20px;
}
ol{
    display: inline-grid
}

li:hover {
    /* background-color:;*/
}

a:link {
    color:darkgreen;
}
a:visited {
    color:darkgreen;
}
a:hover {
    color:saddlebrown;
}
nav {
    background-color: lightgoldenrodyellow;
    width: 100vw;
    position: fixed;
/*    border: 10px red solid; 
    box-sizing: border-box; */
}
.black {
    border: black 2x dashed;
}

#synopsis {
    border: 1px red solid;
}
.top {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;

}
.portrait {
    padding-left: 20px;
    width: 120%;
    display: inline-block;
}
.bginfotext {
    margin-right: auto;
    vertical-align: top;
    width: 40%;
    display: inline-block;
    color: black

}
h2 {
    font-size: 60px;
    color: lightgoldenrodyellow
}
p {
font-size: 30px;
color: saddlebrown}


.bginfotext2 {
    margin-left: auto;
    vertical-align: top;
    width: 40%;
    display:inline-block;
    color: black

}

.portrait2 {
    margin-right: auto;
    padding-right: 20px;
    width: 2000px;
    display: inline-block;
}

i{
    font-size: 50px;
    color: darkgreen
}

@media all and (min-width: 320px) and (max-width: 780px) {  
    
}

@media all and (min-width: 781px) and (max-width: 1080px) {
    
    }
    
}